In [18]:
tokenizerDir = '../data/tokenizer-2021-05-30'

In [19]:
from tokenizers.implementations import ByteLevelBPETokenizer
from tokenizers.processors import BertProcessing

In [20]:
tokenizer = ByteLevelBPETokenizer(
    tokenizerDir+ "/vocab.json",
    tokenizerDir+ "/merges.txt"
)

In [21]:
tokenizer.enable_truncation(max_length=512)

In [22]:
sample = 'SELECT ?uri WHERE {?uri dbo:publisher dbr:GMT_Games}'.lower()
t = tokenizer.encode(sample)
print(t.ids)
print(t.tokens)

[274, 281, 262, 267, 279, 270, 35, 267, 268, 30, 819, 291, 30, 1358, 67, 753, 97]
['se', 'lect', 'Ġ?', 'uri', 'Ġwhere', 'Ġ{', '?', 'uri', 'Ġdbo', ':', 'publisher', 'Ġdbr', ':', 'gmt', '_', 'games', '}']

In [23]:
tokenizer._tokenizer.post_processor = BertProcessing(
    ("</s>", tokenizer.token_to_id("</s>")),
    ("<s>", tokenizer.token_to_id("<s>")),
)

In [24]:
sample = 'SELECT ?uri WHERE {?uri dbo:publisher dbr:GMT_Games}'.lower()
t = tokenizer.encode(sample)
print(t.ids)
print(t.tokens)

[0, 274, 281, 262, 267, 279, 270, 35, 267, 268, 30, 819, 291, 30, 1358, 67, 753, 97, 2]
['<s>', 'se', 'lect', 'Ġ?', 'uri', 'Ġwhere', 'Ġ{', '?', 'uri', 'Ġdbo', ':', 'publisher', 'Ġdbr', ':', 'gmt', '_', 'games', '}', '</s>']