In [1]:
# !pip install datasets transformers pandasql beautifultable -qqq
# torch.cuda.empty_cache()

In [2]:
import pandas as pd
import re

In [3]:
model_checkpoint = "t5-small"
model_date = '2021-10-17`'
prefix = "translate english to sparql: "
model_name = "yazdipour/text-to-sparql-t5-base-2021-10-18_16-15"

In [4]:
from transformers import pipeline, AutoTokenizer, AutoModelForSeq2SeqLM, T5TokenizerFast
model = AutoModelForSeq2SeqLM.from_pretrained(model_name).to("cuda")

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=1417.0, style=ProgressStyle(description…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=891730879.0, style=ProgressStyle(descri…

In [5]:
# tokenizer = AutoTokenizer.from_pretrained(model_name)
# tokenizer = T5TokenizerFast.from_pretrained(model_name)
tokenizer = T5TokenizerFast.from_pretrained(model_checkpoint, src_lang="en", tgt_lang="sparql")

In [6]:
translator = pipeline(
    "translation_xx_to_yy",
    model=model,
    tokenizer=tokenizer,
    device=0 #0 for cuda, -1 for cpu
)

In [7]:
def replace_all(text, dict):
    for i, j in dict.items():
        text = text.replace(i, j)
    return text

In [8]:
kdwd_date = '2021-10-11'
df_q = pd.read_csv(f'../../../data/kdwd/{kdwd_date}/q.csv')
df_p = pd.read_csv(f'../../../data/kdwd/{kdwd_date}/p.csv')

In [9]:
def findID(pref, x):
    word = x.replace("_", " ").lower()
    try:
        if 'wd' != pref:
            # s = df_p[df_p.en.str.contains(word, na=False)]
            s = df_p[df_p['en']==word]
            if len(s)>0:
                id = s.iloc[0]['id']
                return 'P'+str(id)
        # Use else to do not replace missing Ps with Qs
        s = df_q[df_q['en']==word]
        # s = df_q[df_q.en.str.contains(word, na=False)]
        id = s.iloc[0]['id']
        return 'Q'+str(id)
    except: return x

In [10]:
findID('wd', 'instance')

'Q1664689'

In [11]:
def decode_props(qry):
    rep_dict = {}
    qry = qry.replace("[", "{").replace("]", "}")
    for m in re.finditer(":\w+", qry):
        pref = qry[m.start(0) - 3 : m.start(0)].strip()
        rep_dict[m.group(0)[1:]] = findID(pref, m.group(0)[1:])
    return replace_all(qry, rep_dict)

In [12]:
decode_props('SELECT ?answer WHERE [ wd:berlin wdt:instance_of ?answer . ?answer wdt:instance_of wd:mayor ]')

'SELECT ?answer WHERE { wd:Q64 wdt:P31 ?answer . ?answer wdt:P31 wd:Q30185 }'

In [13]:
def translate(q):
    tr = translator(prefix+q, max_length=100)[0]['translation_text']
    return (tr, decode_props(tr))

In [14]:
from beautifultable import BeautifulTable
def pretty_translate(t,q): 
    ans = translate(q)
    # print('QUESTION:\n' + q + '\nTARGET:\n'+ t +'\nRESULT:\n' + ans[0]+ '\nRESULT-DECODED:\n' + ans[1])
    table = BeautifulTable(maxwidth=140)
    # table.column_headers = ["", "Man Utd","Man City","T Hotspur"]
    table.rows.append(['QUESTION', q])
    table.rows.append(['Target', t])
    table.rows.append(['RawRESULT', ans[0]])
    table.rows.append(['RESULT', ans[1]])
    print(table)

# TESTING

In [15]:
prefix

'translate english to sparql: '

In [16]:
translator(prefix+'Who is Marlin Manson?', max_length=100)

[{'translation_text': 'select distinct ?sbj where [ ?sbj wdt:author wd:marlin_manson . ?sbj wdt:instance_of wd:human ]'}]

In [17]:
# <re.Match object; span=(52, 66), match=':marlin_manson'>
# ('select distinct ?sbj where { ?sbj wdt:instance_of wd:marlin_manson . ?sbj wdt:instance_of wd:human }',
#  'select distinct ?sbj where { ?sbj wdt:P31 wd:marlin_manson . ?sbj wdt:P31 wd:Q5 }')
translate('Who is Marlin Manson?')

('select distinct ?sbj where [ ?sbj wdt:author wd:marlin_manson . ?sbj wdt:instance_of wd:human ]',
 'select distinct ?sbj where { ?sbj wdt:P50 wd:marlin_manson . ?sbj wdt:P31 wd:Q5 }')

In [18]:
translate('How old is Bill Gates?')

('select (COUNT(?obj) AS ?value ) [ wd:bill_gates wdt:age ?obj ]',
 'select (COUNT(?obj) AS ?value ) { wd:Q5284 wdt:Q185836 ?obj }')

In [19]:
pretty_translate('select distinct ?sbj where { ?sbj wdt:P35 wd:Q127998 . ?sbj wdt:P31 wd:Q6256 }','Who is the country for head of state of Mahmoud Abbas?')

+-----------+----------------------------------------------------------------------------------------------------------+
| QUESTION  |                          Who is the country for head of state of Mahmoud Abbas?                          |
+-----------+----------------------------------------------------------------------------------------------------------+
|  Target   |              select distinct ?sbj where { ?sbj wdt:P35 wd:Q127998 . ?sbj wdt:P31 wd:Q6256 }              |
+-----------+----------------------------------------------------------------------------------------------------------+
| RawRESULT | select distinct ?obj where [ wd:mahmoud_abbas wdt:head_of_state ?obj . ?obj wdt:instance_of wd:country ] |
+-----------+----------------------------------------------------------------------------------------------------------+
|  RESULT   |              select distinct ?obj where { wd:Q127998 wdt:P35 ?obj . ?obj wdt:P31 wd:Q6256 }              |
+-----------+----------------------------------------------------------------------------------------------------------+

In [20]:
pretty_translate('select distinct ?sbj where { ?sbj wdt:P35 wd:Q127998 . ?sbj wdt:P31 wd:Q6256 }',"What country is Mahmoud Abbas the head of state of?")

+-----------+----------------------------------------------------------------------------------------------------------+
| QUESTION  |                           What country is Mahmoud Abbas the head of state of?                            |
+-----------+----------------------------------------------------------------------------------------------------------+
|  Target   |              select distinct ?sbj where { ?sbj wdt:P35 wd:Q127998 . ?sbj wdt:P31 wd:Q6256 }              |
+-----------+----------------------------------------------------------------------------------------------------------+
| RawRESULT | select distinct ?obj where [ wd:mahmoud_abbas wdt:head_of_state ?obj . ?obj wdt:instance_of wd:country ] |
+-----------+----------------------------------------------------------------------------------------------------------+
|  RESULT   |              select distinct ?obj where { wd:Q127998 wdt:P35 ?obj . ?obj wdt:P31 wd:Q6256 }              |
+-----------+----------------------------------------------------------------------------------------------------------+

In [21]:
pretty_translate('select distinct ?sbj where { ?sbj wdt:P35 wd:Q127998 . ?sbj wdt:P31 wd:Q6256 }','Who is the country for head of state of Mahmoud Abbas?')

+-----------+----------------------------------------------------------------------------------------------------------+
| QUESTION  |                          Who is the country for head of state of Mahmoud Abbas?                          |
+-----------+----------------------------------------------------------------------------------------------------------+
|  Target   |              select distinct ?sbj where { ?sbj wdt:P35 wd:Q127998 . ?sbj wdt:P31 wd:Q6256 }              |
+-----------+----------------------------------------------------------------------------------------------------------+
| RawRESULT | select distinct ?obj where [ wd:mahmoud_abbas wdt:head_of_state ?obj . ?obj wdt:instance_of wd:country ] |
+-----------+----------------------------------------------------------------------------------------------------------+
|  RESULT   |              select distinct ?obj where { wd:Q127998 wdt:P35 ?obj . ?obj wdt:P31 wd:Q6256 }              |
+-----------+----------------------------------------------------------------------------------------------------------+

In [22]:
pretty_translate("SELECT ?answer WHERE { wd:Q16538 wdt:P725 ?answer . ?answer wdt:P106 wd:Q177220}","Which female actress is the voice over on South Park and is employed as a singer?".lower())

+-----------+-------------------------------------------------------------------------------------------------+
| QUESTION  |        which female actress is the voice over on south park and is employed as a singer?        |
+-----------+-------------------------------------------------------------------------------------------------+
|  Target   |        SELECT ?answer WHERE { wd:Q16538 wdt:P725 ?answer . ?answer wdt:P106 wd:Q177220}         |
+-----------+-------------------------------------------------------------------------------------------------+
| RawRESULT | select ?answer where [ wd:south_park wdt:voice_over ?answer . ?answer wdt:occupation wd:singer] |
+-----------+-------------------------------------------------------------------------------------------------+
|  RESULT   |      select ?answer where { wd:Q16538 wdt:Q12280274 ?answer . ?answer wdt:P106 wd:Q177220}      |
+-----------+-------------------------------------------------------------------------------------------------+

In [23]:
pretty_translate("SELECT ?answer WHERE { wd:Q16538 wdt:P725 ?answer . ?answer wdt:P106 wd:Q177220}","Which female actress on South Park is the voice over and is used as a singer?")

+-----------+-------------------------------------------------------------------------------------------------+
| QUESTION  |          Which female actress on South Park is the voice over and is used as a singer?          |
+-----------+-------------------------------------------------------------------------------------------------+
|  Target   |        SELECT ?answer WHERE { wd:Q16538 wdt:P725 ?answer . ?answer wdt:P106 wd:Q177220}         |
+-----------+-------------------------------------------------------------------------------------------------+
| RawRESULT | select ?answer where [ wd:south_park wdt:voice_over ?answer . ?answer wdt:occupation wd:singer] |
+-----------+-------------------------------------------------------------------------------------------------+
|  RESULT   |      select ?answer where { wd:Q16538 wdt:Q12280274 ?answer . ?answer wdt:P106 wd:Q177220}      |
+-----------+-------------------------------------------------------------------------------------------------+

In [24]:
# Paul Erdős (Q173746)
pretty_translate("select distinct ?answer where { wd:Q173746 wdt:P3973 ?answer}","Which is the PIM authority ID of Paul Erd?")

+-----------+------------------------------------------------------------------------------+
| QUESTION  |                  Which is the PIM authority ID of Paul Erd?                  |
+-----------+------------------------------------------------------------------------------+
|  Target   |        select distinct ?answer where { wd:Q173746 wdt:P3973 ?answer}         |
+-----------+------------------------------------------------------------------------------+
| RawRESULT | select ?answer where [ wd:paul_erd wdt:authority ?X . ?X wdt:pim_id ?answer] |
+-----------+------------------------------------------------------------------------------+
|  RESULT   |  select ?answer where { wd:paul_erd wdt:P797 ?X . ?X wdt:Q29043331 ?answer}  |
+-----------+------------------------------------------------------------------------------+

In [25]:
pretty_translate("SELECT ?obj WHERE { wd:Q1045 p:P1082 ?s . ?s ps:P1082 ?obj . ?s pq:P585 ?x filter(contains(YEAR(?x),'2009')) }", 
            "What was the population of Somalia in 2009-0-0?")

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                       What was the population of Somalia in 2009-0-0?                                        |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   |        SELECT ?obj WHERE { wd:Q1045 p:P1082 ?s . ?s ps:P1082 ?obj . ?s pq:P585 ?x filter(contains(YEAR(?x),'2009')) }        |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT | select ?obj where [ wd:sofia p:population ?s . ?s ps:population ?obj . ?s pq:point_in_time ?x filter(contains(YEAR(?x),'2009 |
|           |                                                            ')) ]                                                             |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |        select ?obj where { wd:Q472 p:P1082 ?s . ?s ps:P1082 ?obj . ?s pq:P585 ?x filter(contains(YEAR(?x),'2009')) }         |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [26]:
translate('Humans born in New York City') #random query - answer seems correct

('select distinct ?sbj where [ ?sbj wdt:place_of_birth wd:new_york_city . ?sbj wdt:instance_of wd:human ]',
 'select distinct ?sbj where { ?sbj wdt:P19 wd:Q60 . ?sbj wdt:P31 wd:Q5 }')

In [27]:
# From QALD
target = "ASK WHERE { <http://dbpedia.org/resource/Taiko> a <http://dbpedia.org/class/yago/WikicatJapaneseMusicalInstruments> }"
q =  "Are Taiko some kind of Japanese musical instrument?"
pretty_translate(target, q)

+-----------+-----------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                  Are Taiko some kind of Japanese musical instrument?                                  |
+-----------+-----------------------------------------------------------------------------------------------------------------------+
|  Target   | ASK WHERE { <http://dbpedia.org/resource/Taiko> a <http://dbpedia.org/class/yago/WikicatJapaneseMusicalInstruments> } |
+-----------+-----------------------------------------------------------------------------------------------------------------------+
| RawRESULT |                                ask where [ wd:taiko wdt:instrument wd:japanese_music ]                                |
+-----------+-----------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                                     ask where { wd:Q221769 wdt:P1303 wd:Q257533 }                                     |
+-----------+-----------------------------------------------------------------------------------------------------------------------+

In [28]:
# From QALD
target = "PREFIX dct: <http://purl.org/dc/terms/> PREFIX dbc: <http://dbpedia.org/resource/Category:> SELECT DISTINCT ?uri WHERE { ?uri dct:subject dbc:Assassins_of_Julius_Caesar }"
q =  "Who killed Caesar?"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                                      Who killed Caesar?                                                      |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | PREFIX dct: <http://purl.org/dc/terms/> PREFIX dbc: <http://dbpedia.org/resource/Category:> SELECT DISTINCT ?uri WHERE { ?ur |
|           |                                        i dct:subject dbc:Assassins_of_Julius_Caesar }                                        |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |                 select distinct ?sbj where [ ?sbj wdt:killed_by wd:caesar . ?sbj wdt:instance_of wd:human ]                  |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                         select distinct ?sbj where { ?sbj wdt:P157 wd:Q29288 . ?sbj wdt:P31 wd:Q5 }                          |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [29]:
# From QALD
q = 'What is the highest mountain in Germany?'
target = "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX onto: <http://dbpedia.org/ontology/>  \nSELECT ?uri WHERE { ?uri rdf:type onto:Mountain ; onto:elevation ?elevation ; onto:locatedInArea <http://dbpedia.org/resource/Germany> } ORDER BY DESC(?elevation) LIMIT 1"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                           What is the highest mountain in Germany?                                           |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX onto:  |
|           |                                               <http://dbpedia.org/ontology/>                                                 |
|           | SELECT ?uri WHERE { ?uri rdf:type onto:Mountain ; onto:elevation ?elevation ; onto:locatedInArea <http://dbpedia.org/resourc |
|           |                                        e/Germany> } ORDER BY DESC(?elevation) LIMIT 1                                        |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |     select distinct ?sbj where [ ?sbj wdt:highest_mountain_highest_point wd:germany . ?sbj wdt:instance_of wd:mountain ]     |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |             select distinct ?sbj where { ?sbj wdt:highest_Q8502_highest_point wd:Q183 . ?sbj wdt:P31 wd:Q8502 }              |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [30]:
# From QALD
q = 'Which American presidents were in office during the Vietnam War?'
target = "PREFIX dbo: <http://dbpedia.org/ontology/> PREFIX res: <http://dbpedia.org/resource/> PREFIX dct: <http://purl.org/dc/terms/> PREFIX dbc: <http://dbpedia.org/resource/Category:> SELECT ?uri WHERE { ?uri dct:subject dbc:Presidents_of_the_United_States . res:Vietnam_War dbo:commander ?uri }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                               Which American presidents were in office during the Vietnam War?                               |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | PREFIX dbo: <http://dbpedia.org/ontology/> PREFIX res: <http://dbpedia.org/resource/> PREFIX dct: <http://purl.org/dc/terms/ |
|           | > PREFIX dbc: <http://dbpedia.org/resource/Category:> SELECT ?uri WHERE { ?uri dct:subject dbc:Presidents_of_the_United_Stat |
|           |                                          es . res:Vietnam_War dbo:commander ?uri }                                           |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |              select distinct ?obj where [ wd:vietnam_war wdt:participant ?obj . ?obj wdt:instance_of wd:human ]              |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                          select distinct ?obj where { wd:Q8740 wdt:P710 ?obj . ?obj wdt:P31 wd:Q5 }                          |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [31]:
# From QALD
q = 'How many gold medals did Michael Phelps win at the 2008 Olympics?'
target = "PREFIX dbo: <http://dbpedia.org/ontology/> PREFIX dbr: <http://dbpedia.org/resource/> PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> SELECT Count(?sub) as ?c WHERE { ?sub dbo:goldMedalist dbr:Michael_Phelps . filter (contains (str(?sub), \"2008\") && contains (str(?sub), \"Olympics\")) }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                              How many gold medals did Michael Phelps win at the 2008 Olympics?                               |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | PREFIX dbo: <http://dbpedia.org/ontology/> PREFIX dbr: <http://dbpedia.org/resource/> PREFIX rdf: <http://www.w3.org/1999/02 |
|           | /22-rdf-syntax-ns#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> SELECT Count(?sub) as ?c WHERE { ?sub dbo:goldMedal |
|           |             ist dbr:Michael_Phelps . filter (contains (str(?sub), "2008") && contains (str(?sub), "Olympics")) }             |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT | select ?value where [ wd:michael_phelps p:participant_of ?s . ?s ps:participant_of wd:2008_olympics . ?s pq:number_of_gold_m |
|           |                                                        edals ?value]                                                         |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |           select ?value where { wd:Q39562 p:P1344 ?s . ?s ps:P1344 wd:Q8567 . ?s pq:number_of_gold_medals ?value}            |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [32]:
# From QALD
q = 'What is the profession of Frank Herbert?'
target = "PREFIX dbpedia2: <http://dbpedia.org/property/> PREFIX res: <http://dbpedia.org/resource/> SELECT DISTINCT ?string WHERE { res:Frank_Herbert dbpedia2:occupation ?string }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                           What is the profession of Frank Herbert?                                           |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | PREFIX dbpedia2: <http://dbpedia.org/property/> PREFIX res: <http://dbpedia.org/resource/> SELECT DISTINCT ?string WHERE { r |
|           |                                        es:Frank_Herbert dbpedia2:occupation ?string }                                        |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |             select ?answer where [ wd:frank_herbert wdt:occupation ?X . ?X wdt:field_of_this_occupation ?answer]             |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                       select ?answer where { wd:Q7934 wdt:P106 ?X . ?X wdt:field_of_this_P106 ?answer}                       |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [33]:
# From QALD
q = 'How many seats does the home stadium of FC Porto have?'
target = "PREFIX dbo: <http://dbpedia.org/ontology/> PREFIX dbp: <http://dbpedia.org/property/> PREFIX dbr: <http://dbpedia.org/resource/> PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX db: <http://dbpedia.org/> SELECT ?capacity WHERE { { dbr:FC_Porto dbo:ground ?ground . ?ground dbo:capacity ?capacity } UNION { dbr:FC_Porto dbo:ground ?ground . ?ground dbp:capacity ?capacity } }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                    How many seats does the home stadium of FC Porto have?                                    |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | PREFIX dbo: <http://dbpedia.org/ontology/> PREFIX dbp: <http://dbpedia.org/property/> PREFIX dbr: <http://dbpedia.org/resour |
|           | ce/> PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX d |
|           | b: <http://dbpedia.org/> SELECT ?capacity WHERE { { dbr:FC_Porto dbo:ground ?ground . ?ground dbo:capacity ?capacity } UNION |
|           |                            { dbr:FC_Porto dbo:ground ?ground . ?ground dbp:capacity ?capacity } }                            |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |                             select (COUNT(?sub) AS ?value ) [ ?sub wdt:home_venue wd:fc_porto ]                              |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                                 select (COUNT(?sub) AS ?value ) { ?sub wdt:P115 wd:Q128446 }                                 |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [34]:
# From QALD
q = 'Which frequent flyer program has the most airlines?'
target = "SELECT ?uri WHERE { ?airline <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://dbpedia.org/ontology/Airline> . ?airline <http://dbpedia.org/property/frequentFlyer> ?uri. } GROUP BY ?uri ORDER BY DESC(COUNT(DISTINCT ?airline)) OFFSET 0 LIMIT 1"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                     Which frequent flyer program has the most airlines?                                      |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | SELECT ?uri WHERE { ?airline <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://dbpedia.org/ontology/Airline> . ?airl |
|           | ine <http://dbpedia.org/property/frequentFlyer> ?uri. } GROUP BY ?uri ORDER BY DESC(COUNT(DISTINCT ?airline)) OFFSET 0 LIMIT |
|           |                                                               1                                                              |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT | select ?ent where [ ?ent wdt:instance_of wd:frequent_flyer_program . ?ent wdt:airline_count ?obj ] ORDER BY DESC(?obj)LIMIT  |
|           |                                                              5                                                               |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |           select ?ent where { ?ent wdt:P31 wd:Q5502885 . ?ent wdt:airline_count ?obj } ORDER BY DESC(?obj)LIMIT 5            |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [35]:
# From QALD
q = 'Which European countries have a constitutional monarchy?'
target = "PREFIX dbo: <http://dbpedia.org/ontology/> PREFIX dct: <http://purl.org/dc/terms/> PREFIX dbc: <http://dbpedia.org/resource/Category:> PREFIX dbr: <http://dbpedia.org/resource/> SELECT ?uri WHERE { ?uri dct:subject dbc:Countries_in_Europe ; dbo:governmentType dbr:Constitutional_monarchy }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                   Which European countries have a constitutional monarchy?                                   |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | PREFIX dbo: <http://dbpedia.org/ontology/> PREFIX dct: <http://purl.org/dc/terms/> PREFIX dbc: <http://dbpedia.org/resource/ |
|           | Category:> PREFIX dbr: <http://dbpedia.org/resource/> SELECT ?uri WHERE { ?uri dct:subject dbc:Countries_in_Europe ; dbo:gov |
|           |                                          ernmentType dbr:Constitutional_monarchy }                                           |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |     select distinct ?sbj where [ ?sbj wdt:constitutional_monarchy wd:europe . ?sbj wdt:instance_of wd:european_country ]     |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                    select distinct ?sbj where { ?sbj wdt:Q41614 wd:Q46 . ?sbj wdt:P31 wd:Q46an_country }                     |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [36]:
# From QALD
q = 'Which countries have places with more than two caves?'
target = "PREFIX dbo: <http://dbpedia.org/ontology/> PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> SELECT DISTINCT ?uri WHERE { ?cave rdf:type dbo:Cave ; dbo:location ?uri . ?uri rdf:type dbo:Country } GROUP BY ?uri HAVING ( COUNT(?cave) > 2 )"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                    Which countries have places with more than two caves?                                     |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | PREFIX dbo: <http://dbpedia.org/ontology/> PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> SELECT DISTINCT ?uri WH |
|           |  ERE { ?cave rdf:type dbo:Cave ; dbo:location ?uri . ?uri rdf:type dbo:Country } GROUP BY ?uri HAVING ( COUNT(?cave) > 2 )   |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |       select ?ent where [ ?ent wdt:instance_of wd:country . ?ent wdt:number_of_caves ?obj ] ORDER BY DESC(?obj)LIMIT 5       |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |            select ?ent where { ?ent wdt:P31 wd:Q6256 . ?ent wdt:number_of_caves ?obj } ORDER BY DESC(?obj)LIMIT 5            |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [37]:
# From QALD
q = 'Which airports are located in California, USA?'
target = "SELECT DISTINCT ?uri WHERE { ?uri a <http://dbpedia.org/ontology/Airport> { ?uri <http://dbpedia.org/ontology/location> <http://dbpedia.org/resource/California> } UNION { ?uri <http://dbpedia.org/ontology/city> <http://dbpedia.org/resource/California> } UNION { ?uri <http://dbpedia.org/ontology/city> ?city . ?city <http://dbpedia.org/ontology/isPartOf> <http://dbpedia.org/resource/California> } UNION { ?uri <http://dbpedia.org/ontology/operator> <http://dbpedia.org/resource/California> } }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                        Which airports are located in California, USA?                                        |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | SELECT DISTINCT ?uri WHERE { ?uri a <http://dbpedia.org/ontology/Airport> { ?uri <http://dbpedia.org/ontology/location> <htt |
|           | p://dbpedia.org/resource/California> } UNION { ?uri <http://dbpedia.org/ontology/city> <http://dbpedia.org/resource/Californ |
|           | ia> } UNION { ?uri <http://dbpedia.org/ontology/city> ?city . ?city <http://dbpedia.org/ontology/isPartOf> <http://dbpedia.o |
|           |  rg/resource/California> } UNION { ?uri <http://dbpedia.org/ontology/operator> <http://dbpedia.org/resource/California> } }  |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT | select distinct ?obj where [ wd:california wdt:located_in_the_administrative_territorial_entity ?obj . ?obj wdt:instance_of  |
|           |                                                         wd:airport ]                                                         |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                        select distinct ?obj where { wd:Q99 wdt:P131 ?obj . ?obj wdt:P31 wd:Q409022 }                         |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [38]:
# From QALD
q = "What are the nicknames of San Francisco?"
target = "SELECT DISTINCT ?string WHERE { res:San_Francisco foaf:nick ?string }"
pretty_translate(target, q)

+-----------+-----------------------------------------------------------------------------------------------+
| QUESTION  |                           What are the nicknames of San Francisco?                            |
+-----------+-----------------------------------------------------------------------------------------------+
|  Target   |             SELECT DISTINCT ?string WHERE { res:San_Francisco foaf:nick ?string }             |
+-----------+-----------------------------------------------------------------------------------------------+
| RawRESULT | select ?answer where [ wd:san_francisco wdt:country_of_origin ?X . ?X wdt:short_name ?answer] |
+-----------+-----------------------------------------------------------------------------------------------+
|  RESULT   |               select ?answer where { wd:Q62 wdt:P495 ?X . ?X wdt:P1813 ?answer}               |
+-----------+-----------------------------------------------------------------------------------------------+

In [39]:
# From QALD
q = "What is Angela Merkel’s birth name?"
target = "SELECT DISTINCT ?string WHERE { res:Angela_Merkel dbp:birthName ?string }"
pretty_translate(target, q)

+-----------+-------------------------------------------------------------------------------------------------+
| QUESTION  |                               What is Angela Merkel’s birth name?                               |
+-----------+-------------------------------------------------------------------------------------------------+
|  Target   |            SELECT DISTINCT ?string WHERE { res:Angela_Merkel dbp:birthName ?string }            |
+-----------+-------------------------------------------------------------------------------------------------+
| RawRESULT | select ?answer where [ wd:angela_merkel wdt:place_of_birth ?X . ?X wdt:place_of_birth0 ?answer] |
+-----------+-------------------------------------------------------------------------------------------------+
|  RESULT   |                select ?answer where { wd:Q567 wdt:P19 ?X . ?X wdt:P190 ?answer}                 |
+-----------+-------------------------------------------------------------------------------------------------+

In [40]:
# From QALD
q = "Who is the mayor of Berlin?"
target = "SELECT DISTINCT ?uri WHERE { res:Berlin dbp:leader ?uri }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------+
| QUESTION  |                                     Who is the mayor of Berlin?                                      |
+-----------+------------------------------------------------------------------------------------------------------+
|  Target   |                      SELECT DISTINCT ?uri WHERE { res:Berlin dbp:leader ?uri }                       |
+-----------+------------------------------------------------------------------------------------------------------+
| RawRESULT | select distinct ?obj where [ wd:berlin wdt:head_of_government ?obj . ?obj wdt:instance_of wd:human ] |
+-----------+------------------------------------------------------------------------------------------------------+
|  RESULT   |                select distinct ?obj where { wd:Q64 wdt:P6 ?obj . ?obj wdt:P31 wd:Q5 }                |
+-----------+------------------------------------------------------------------------------------------------------+

In [41]:
# From QALD
q = "Which software has been published by Mean Hamster Software?"
target = "SELECT DISTINCT ?uri WHERE { ?uri rdf:type onto:Software { ?uri prop:publisher \"Mean Hamster Software\"@en } UNION { ?uri onto:publisher res:Mean_Hamster_Software } }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                 Which software has been published by Mean Hamster Software?                                  |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | SELECT DISTINCT ?uri WHERE { ?uri rdf:type onto:Software { ?uri prop:publisher "Mean Hamster Software"@en } UNION { ?uri ont |
|           |                                          o:publisher res:Mean_Hamster_Software } }                                           |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |        select distinct ?sbj where [ ?sbj wdt:publisher wd:mean_hamster_software . ?sbj wdt:instance_of wd:software ]         |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                      select distinct ?sbj where { ?sbj wdt:P123 wd:Q15070395 . ?sbj wdt:P31 wd:Q7397 }                       |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [42]:
# From QALD
q = "Which country was Bill Gates born in?"
target = "SELECT DISTINCT ?country WHERE { { dbr:Bill_Gates dbo:birthPlace ?birthPlace . ?birthPlace dbo:country ?country } UNION { dbr:Bill_Gates dbo:birthPlace ?birthPlace . ?birthPlace dbo:isPartOf ?place . ?place dbo:country ?country } }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                            Which country was Bill Gates born in?                                             |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | SELECT DISTINCT ?country WHERE { { dbr:Bill_Gates dbo:birthPlace ?birthPlace . ?birthPlace dbo:country ?country } UNION { db |
|           |         r:Bill_Gates dbo:birthPlace ?birthPlace . ?birthPlace dbo:isPartOf ?place . ?place dbo:country ?country } }          |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |                     select ?answer where [ wd:bill_gates wdt:place_of_birth ?X . ?X wdt:country ?answer]                     |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                               select ?answer where { wd:Q5284 wdt:P19 ?X . ?X wdt:P17 ?answer}                               |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [43]:
# From QALD
q = "How many grand-children did Jacques Cousteau have?"
target = "SELECT COUNT(DISTINCT ?y AS ?y) WHERE { <http://dbpedia.org/resource/Jacques_Cousteau> <http://dbpedia.org/ontology/child> ?x . ?x <http://dbpedia.org/ontology/child> ?y . }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                      How many grand-children did Jacques Cousteau have?                                      |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | SELECT COUNT(DISTINCT ?y AS ?y) WHERE { <http://dbpedia.org/resource/Jacques_Cousteau> <http://dbpedia.org/ontology/child> ? |
|           |                                      x . ?x <http://dbpedia.org/ontology/child> ?y . }                                       |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |                         select (COUNT(?sub) AS ?value ) [ ?sub wdt:grand-child wd:jacques_cousteau ]                         |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                             select (COUNT(?sub) AS ?value ) { ?sub wdt:Q247153-child wd:Q83233 }                             |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [44]:
# From QALD
q = "Give me all professional skateboarders from Sweden."
target = "SELECT DISTINCT ?uri WHERE { ?uri dbo:occupation dbr:Skateboarder { ?uri dbo:birthPlace dbr:Sweden } UNION { ?uri dbo:birthPlace ?place . ?place dbo:country dbr:Sweden } }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                     Give me all professional skateboarders from Sweden.                                      |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | SELECT DISTINCT ?uri WHERE { ?uri dbo:occupation dbr:Skateboarder { ?uri dbo:birthPlace dbr:Sweden } UNION { ?uri dbo:birthP |
|           |                                       lace ?place . ?place dbo:country dbr:Sweden } }                                        |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |                   select ?answer where [ wd:skateboard wdt:sport ?answer . ?answer wdt:country wd:sweden]                    |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                         select ?answer where { wd:Q15783 wdt:P641 ?answer . ?answer wdt:P17 wd:Q34}                          |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [45]:
# From QALD
q = "Which monarchs of the United Kingdom were married to a German?"
target = "SELECT DISTINCT ?uri WHERE { ?uri rdf:type yago:WikicatMonarchsOfTheUnitedKingdom ; dbo:spouse ?spouse . ?spouse dbo:birthPlace res:Germany }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                Which monarchs of the United Kingdom were married to a German?                                |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | SELECT DISTINCT ?uri WHERE { ?uri rdf:type yago:WikicatMonarchsOfTheUnitedKingdom ; dbo:spouse ?spouse . ?spouse dbo:birthPl |
|           |                                                      ace res:Germany }                                                       |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |       select distinct ?sbj where [ ?sbj wdt:spouse wd:german . ?sbj wdt:instance_of wd:monarch_of_the_united_kingdom ]       |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                        select distinct ?sbj where { ?sbj wdt:P26 wd:Q188 . ?sbj wdt:P31 wd:Q9134365 }                        |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [46]:
# From QALD
q = "Give me all Argentine films."
target = "SELECT DISTINCT ?uri WHERE { { ?uri rdf:type yago:ArgentineFilms } UNION { ?uri rdf:type dbo:Film { ?uri dbo:country res:Argentina } UNION { ?uri dbp:country \"Argentina\"@en } } }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                                 Give me all Argentine films.                                                 |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   | SELECT DISTINCT ?uri WHERE { { ?uri rdf:type yago:ArgentineFilms } UNION { ?uri rdf:type dbo:Film { ?uri dbo:country res:Arg |
|           |                                    entina } UNION { ?uri dbp:country "Argentina"@en } } }                                    |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |                      select (COUNT(?sub) AS ?value ) [ ?sub wdt:language_of_work_or_name wd:argentine ]                      |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                                 select (COUNT(?sub) AS ?value ) { ?sub wdt:P407 wd:Q511643 }                                 |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [47]:
# From QALD
q = "How did Michael Jackson die?"
target = "SELECT DISTINCT ?s WHERE { <http://dbpedia.org/resource/Michael_Jackson> <http://dbpedia.org/property/deathCause> ?s }"
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                              How did Michael Jackson die?                                              |
+-----------+------------------------------------------------------------------------------------------------------------------------+
|  Target   | SELECT DISTINCT ?s WHERE { <http://dbpedia.org/resource/Michael_Jackson> <http://dbpedia.org/property/deathCause> ?s } |
+-----------+------------------------------------------------------------------------------------------------------------------------+
| RawRESULT |           select ?answer where [ wd:michael_jackson wdt:place_of_death ?X . ?X wdt:place_of_death0 ?answer]            |
+-----------+------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                           select ?answer where { wd:Q2831 wdt:P20 ?X . ?X wdt:P200 ?answer}                            |
+-----------+------------------------------------------------------------------------------------------------------------------------+

In [48]:
# From QALD
q = "Where did Michael Jackson died?"
target = "."
pretty_translate(target, q)

+-----------+------------------------------------------------------------------------------------------------------------------------------+
| QUESTION  |                                               Where did Michael Jackson died?                                                |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  Target   |                                                              .                                                               |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
| RawRESULT | select ?answer where [ wd:michael_jackson wdt:place_of_death ?X . ?X wdt:contains_administrative_territorial_entity ?answer] |
+-----------+------------------------------------------------------------------------------------------------------------------------------+
|  RESULT   |                              select ?answer where { wd:Q2831 wdt:P20 ?X . ?X wdt:P150 ?answer}                               |
+-----------+------------------------------------------------------------------------------------------------------------------------------+

In [49]:
# From QALD
q = "Which classes does the Millepede belong to?"
target = "SELECT DISTINCT ?String WHERE { res:Millipede dbp:taxon ?String }"
pretty_translate(target, q)

+-----------+--------------------------------------------------------------------------------------+
| QUESTION  |                     Which classes does the Millepede belong to?                      |
+-----------+--------------------------------------------------------------------------------------+
|  Target   |          SELECT DISTINCT ?String WHERE { res:Millipede dbp:taxon ?String }           |
+-----------+--------------------------------------------------------------------------------------+
| RawRESULT | select ?answer where [ wd:millepede wdt:parent_taxon ?X . ?X wdt:taxon_rank ?answer] |
+-----------+--------------------------------------------------------------------------------------+
|  RESULT   |        select ?answer where { wd:millepede wdt:P171 ?X . ?X wdt:P105 ?answer}        |
+-----------+--------------------------------------------------------------------------------------+

In [50]:
# From QALD
q = "Which classes does the Millepede belong to?"
target = "SELECT DISTINCT ?String WHERE { res:Millipede dbp:taxon ?String }"
pretty_translate(target, q)

+-----------+--------------------------------------------------------------------------------------+
| QUESTION  |                     Which classes does the Millepede belong to?                      |
+-----------+--------------------------------------------------------------------------------------+
|  Target   |          SELECT DISTINCT ?String WHERE { res:Millipede dbp:taxon ?String }           |
+-----------+--------------------------------------------------------------------------------------+
| RawRESULT | select ?answer where [ wd:millepede wdt:parent_taxon ?X . ?X wdt:taxon_rank ?answer] |
+-----------+--------------------------------------------------------------------------------------+
|  RESULT   |        select ?answer where { wd:millepede wdt:P171 ?X . ?X wdt:P105 ?answer}        |
+-----------+--------------------------------------------------------------------------------------+