In [32]:
import pandas as pd
pd.options.display.max_colwidth = 100

In [33]:
import datetime
todaydate = datetime.datetime.now().strftime("%Y-%m-%d")

In [3]:
df = pd.read_csv("../../../data/kdwd/item_no_desc.csv").dropna()
df.rename(columns = {'item_id':'id'}, inplace=True)
df = df.set_index("id")
# Dropna 43232907 to 43232888 (-19)

In [4]:
df['length'] = df.en_label.str.len()
print(df["length"].mean())
print(df["length"].mode())

52.43109199644493
0    15
dtype: int64

In [5]:
df[df.en_label.str.len()>30].head()

,en_label,length
item_id,,
101,lopado temacho selacho galeo kranio leipsano drim hypo trimmato silphio parao melito katakechy m...,210
102,pneumonoultramicroscopicsilicovolcanoconiosis,45
103,supercalifragilisticexpialidocious,34
133,mixed-member proportional representation,40
488,atomic bombings of hiroshima and nagasaki,41

In [6]:
print(df.shape)
df = df[df.en_label.str.len()<31]
print(df.shape)
del df['length']

(43232888, 2)
(21216344, 2)

In [7]:
mask = df.en_label.str.contains(r'2dfgrs', na=True)
print(mask.shape)

(21216344,)

In [8]:
df[mask==True].head()

                   en_label
item_id
3711575   2dfgrs tgn137z299
3712242   2dfgrs tgn094z194
67844446  2dfgrs tgn289z069
74666428  2dfgrs tgn321z057
74666434  2dfgrs tgn183z141

In [9]:
print(df.shape)
df = df[mask==False]
print(df.shape)

(21216344, 1)
(21200600, 1)

In [10]:
print(df.shape)
df["en_label"] = df["en_label"].str.lower()
df.drop_duplicates(subset=["en_label"], keep="first", inplace=True)
print(df.shape)

(21200600, 1)
(17909114, 1)

In [11]:
df.rename(columns = {'en_label':'en'}, inplace=True)
df.to_csv(f"../../../data/kdwd/{todaydate}/item.csv")

In [12]:
df = pd.read_csv("../../../data/kdwd/item_aliases.csv")
df.rename(columns = {'item_id':'id'}, inplace=True)
df = df.set_index("id")
df["en_alias"] = df["en_alias"].str.lower()
df.drop_duplicates(subset=["en_alias"], keep="first", inplace=True)
print(df.shape)
df = df[df.en_alias.str.len()<30]
df.rename(columns = {'en_alias':'en'}, inplace=True)
print(df.shape)
df.to_csv(f"../../../data/kdwd/{todaydate}/item2.csv")

(4687734, 1)
(3928159, 1)

In [13]:
df = pd.read_csv("../../../data/kdwd/property.csv")
df.rename(columns = {'property_id':'id'}, inplace=True)
df = df.set_index("id")
del df["en_description"]
df["en_label"] = df["en_label"].str.lower()
df.drop_duplicates(subset=["en_label"], keep="first", inplace=True)
df.rename(columns = {'en_label':'en'}, inplace=True)
print(df.shape)
df.to_csv(f"../../../data/kdwd/{todaydate}/property.csv")

(6985, 1)

In [14]:
df = pd.read_csv("../../../data/kdwd/property_aliases.csv")
df.rename(columns = {'property_id':'id'}, inplace=True)
df = df.set_index("id")
print(df.shape)
df["en_alias"] = df["en_alias"].str.lower()
df.drop_duplicates(subset=["en_alias"], keep="first", inplace=True)
df.rename(columns = {'en_alias':'en'}, inplace=True)
print(df.shape)
df.to_csv(f"../../../data/kdwd/{todaydate}/property2.csv")

(9004, 1)
(8631, 1)

In [34]:
df_p = f"../../../data/kdwd/{todaydate}/property.csv"
df_p2 = f"../../../data/kdwd/{todaydate}/property2.csv"
df = pd.concat(map(pd.read_csv, [df_p, df_p2]), ignore_index=True)
df.to_csv(f"../../../data/kdwd/{todaydate}/p.csv")
print(df.shape)

(15616, 2)

In [31]:
df_q = (f'../../../data/kdwd/{todaydate}/item.csv')
df_q2 = (f'../../../data/kdwd/{todaydate}/item2.csv')
df = pd.concat(map(pd.read_csv, [df_q, df_q2]), ignore_index=True)
df.to_csv(f"../../../data/kdwd/{todaydate}/q.csv")
print(df.shape)

(21837273, 2)